.custom-input{
    display: block;
    width: 100%;
    height: 58px;
    margin-bottom: 20px;
    background-color: transparent;
    outline: none;
    color: black;
    border: 1px solid #2F3336;
    border-radius: 4px;
    padding: 10px;
    &:focus{
        border: 2px solid #1DA1F2;

        & + label{
           font-size: 12px;
           top: -80px;
           color: #1DA1F2;
           transition: .2s all ease-in;        
        }
        
    }

    &:not(:placeholder-shown){
        border: 2px solid #1DA1F2;

        & + label{
           font-size: 12px;
           top: -80px;
           color: #1DA1F2;
           transition: .2s all ease-in;        
        }
        
    }

    // &:valid {
    //     border-color: hsl(120, 76%, 50%);
    //   }
    
}

.label-input{
    position: relative;
    top: -68px;
    left: 10px;
    color: #2F3336;

}

.errorColor{
    display: block;
    width: 100%;
    height: 58px;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    outline: none;
    color: black;
    border: 1px solid #A81B46;

    & + label{
        font-size: 12px;
        top: -80px;
        color: #A81B46;
        transition: .2s all ease-in;        
     }

}

.errorlabelColor{
    color: #A81B46
}