.profile-container{
    width: 598px;
    
}
.profile-navbar{
    width: 100%;
    height: 53px;
}

.profile-details{
    width: 100%;
}

.portrait{
    width: 100%;
    height: 199px;
    background-color: #CFD9DE;
}

.profile-picture-rounded{
    width: fit-content;
    position: relative;
    top: -80px;
    left: 8px;
}

.following{

    & a{
        margin-right: 25px;
        text-decoration: none;
        color: black;
        &:hover{
            border-bottom: 1px solid black;
            color: black;
        }
        & span{
            font-weight: bold;
        }
    }
}

.edit-profile{
    float: right;
    width: 120px;
    height: 36px;
    border: 2px solid #E6E7E7;
    border-radius: 9999px;
    text-align: center;
    margin-top: 12px;
    background-color: white;
    font-size: 16px;
    font-weight: bold;
    padding-top: 5px;
    
    &:hover{
        background-color: #E6E7E7;
        cursor: pointer;
    }
}

.tweets-nav-bar{
    
}