.privacy-check{
      outline: none;
      position: absolute;
      z-index: 3;
      background-color: rgb(29, 161, 242);
  }

  

  #help-center:hover{
    text-decoration: underline;
    cursor: pointer;
  }